# Environment variables & secrets (SANGAT KRITIS)
.env
.env.*
!.env.example

# Temporary & Dump files
*.stackdump
*.tmp
*.bak
*.swp
*~

# Logs & Cache
*.log
storage/logs/*
!storage/logs/.gitkeep

# Dependency directories
/vendor/
/node_modules/

# IDE & OS specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
Desktop.ini

# Database local dumps / temp
*.i5bu
*.dump
*.backup
